$kap-blue: #2a54bc;
$kap-grey: #c8c8c8;
$font-color: #415d78;

header.kap__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
button {
  font-size: 14px;
  border: none;
  color: white;
  background: $kap-blue;
  padding: 10px 16px;
  border-radius: 4px;
}
form button {
  margin-top: 12px;
}
header {
  h1 {
    margin-bottom: 3rem;
    margin-top: 0;
  }
}
.kap-search {
  input {
    width: 47.7%;
    border: none;
    border-bottom: 1px solid $kap-grey;
    background: transparent;
    color: $kap-grey;
    padding-left: 23px;
    padding-bottom: 8px;
  }
  i {
    color: #474747;
    position: absolute;
    left: 3px;
    font-size: 13px;
  }
  input[type="text"]:focus {
    outline: none;
  }
  div {
    position: relative;
  }
}
.kap-container {
  color: $font-color;
  h4 {
    margin-bottom: 0;
  }
  h5 {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
  }
  .kap__cards-list-items {
    padding: 12px;
    background: #fff;
    float: left;
    margin: 12px 19px 12px 0;
    width: calc(50% - 33px);
    box-shadow: 1px 1px 3px 0px #ababab;
    border-radius: 4px;
    border-left: 5px solid #fda747;
  }
  .kap__cards-list {
    height: 100vh;
    padding: 0;
    font-size: 12px;
    margin-top: 18px;
  }
}
li.kap__cards-list-items:nth-child(even) {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

form {
  display: block;
  position: absolute;
  background: white;
  color: $font-color;
  width: 45%;
  z-index: 1;
  border: 1px solid $font-color;
  right: 34px;
  top: 70px;
  border-radius: 4px;
  padding: 18px;
  label {
    display: grid;
    span {
      display: inline-block;
      padding: 8px 0;
    }
    input {
      border: none;
      border-bottom: 1px solid $kap-grey;
      background: transparent;
    }
  }
  .close{
    position: absolute;
    right: 19px;
    top: 0;
    cursor:pointer
  }
}
